<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>number of users</th>
        <th>createdAt</th>
    </tr>
    <% lobbyList.forEach(lobby => {%>
    <tr>
        <td><%=lobby.id%></td>
        <td><%=lobby.name%></td>
        <td><%=[...lobby.users.values()].length%></td>
        <td><%= new Date(lobby.createdAt).toLocaleString();%></td>
    </tr>
    <%});%>
</table>